* {
    padding: 0;
    margin: 0;
  }
  body .container {
    max-width: 1230px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .box-main-header {
    display: flex;
  }
.slider-mai {
    padding-top:1000px;
}
ul{
    list-style: none;
}