.shirts-tittle {
  display: flex;
  justify-content: space-between;
}
.headline {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headline p {
  padding: 15px;
  margin-top: 3px;
}

.options {
  padding: 30px;
}
